[Unit]
Description=Update and set up Janus Port Relay
After=network-online.target nftables.service
Requires=nftables.service
PartOf=nftables.service
RequiresMountsFor=/var/local/cache/ldap

[Service]
Type=simple
ExecStart=/usr/bin/ssn_janus.py update
ExecStop=/usr/bin/ssn_janus.py stop
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
