[Unit]
Description=Run SSN-janus to update portmapper service of Janus

[Timer]
OnCalendar=*:30:30
OnCalendar=*:00:00
OnBootSec=0

[Install]
WantedBy=timers.target