[Unit]
Description=Run ssn-janus update to update portmapper service of Janus
After=ssn-janus.service
Requisite=ssn-janus.service

[Timer]
OnCalendar=*:00/10:30
OnBootSec=10

[Install]
WantedBy=timers.target